services:
  - type: web
    name: hemotracka
    env: docker
    region: oregon
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: hemotracka-db
          property: connectionString

databases:
  - name: hemotracka-db
    databaseName: hemotracka
    user: hemotracka
    plan: free
